# SA Frontend ignored files
node_modules/
**/sa-frontend/build/

# SA Logic ignored files
venv/
venvforlogic/

# SA WebApp ignored files
target/
.mvn/
!**/maven-wrapper.jar

# IDE ignored files
.idea/
*.iml
